{% set user={
  'address' : {
    'postal_code' : '40000',
    'state' : 'Jalisco',
    'city' : 'Guadalajara',
    'colony': 'Colonia',
    'street': 'Nombre calle',
    'num': '123',
    'int': '1',
  },
} %}

<form>
  <fieldset disabled="disabled">

  <div class="form-row mt-2">
    <div class="col-md-8 mb-2">
      <label for="address">Domicilio (calle y número)</label>
      <input type="text" class="form-control" id="address" value="{{ user.address.street | e }} #{{ user.address.num }} {{ user.address.int ? "(#{user.address.int})" : '' }}">
    </div>
    <div class="col-md-4 mb-2">
      <label for="colony">Colonia</label>
      <input type="text" class="form-control" id="num" value="{{ user.address.colony | e }}">
    </div>
  </div>

  <div class="form-row mt-2">
    <div class="col-md-4 mb-2">
      <label for="cp-code">Código postal</label>
      <input type="text" class="form-control" id="cp-code" value="{{ user.address.postal_code | e }}">
    </div>
    <div class="col-md-4 mb-2">
      <label for="f-lastname">Estado/Provincia</label>
      <input type="text" class="form-control" id="state" value="{{ user.address.state | e }}">
    </div>
    <div class="col-md-4 mb-2">
      <label for="m-lastname">Ciudad/Municipio</label>
      <input type="text" class="form-control" id="city" value="{{ user.address.city | e }}">
    </div>
  </div>

  </fieldset>
</form>
