<form class="mb-2 mt-0 catalog-filters" action="/catalogo" method="get">
  <div class="form-row">
    <div class="col-md-6 col-sm-12">
      <label for="search-filter">Buscar artículos</label>
      <input type="search" name="s" class="form-control" value="{{ options.search ? options.search : '' }}" id="search-filter">
    </div>

    <div class="col-md-3 col-sm-6">
      <label for="per-page">Articulos por página</label>
      <select name="pageSize" class="form-control" id="per-page">
        {% for i in 1..options.nPageSize %}
        <option {{ (i*options.step) == (products.perPage()) ? 'selected' : '' }}>{{ i*options.step }}</option>
        {% endfor %}
        <option value="-1" {{ (products.perPage() < 0)? 'selected' : '' }}>Todos</option>
      </select>
    </div>

    <div class="col-md-3 col-sm-6">
      <label for="sort-by">Ordenar por</label>
      <select name="sort" class="form-control" id="sort-by">
        <option value="">Default</option>
        <option value="name" {{ options.sort.by == 'name' ? 'selected': '' }}>Nombre</option>
        <option value="price" {{ options.sort.by == 'price' ? 'selected': '' }}>Precio</option>
      </select>
    </div>
  </div>

  <div class="form-row mt-2 justify-content-end">

    <div class="btn-group-toggle mx-2" data-toggle="buttons" title="Orden">
      <label class="btn btn-light dummy-label {{ options.sort.order == 'desc' ? 'active' : '' }}" id="toggle-order">
        <input type="checkbox" name="desc" autocomplete="off">
        <i class="fas fa-sort-amount-{{ options.sort.order == 'desc' ? 'down' : 'up' }}"></i>
      </label>
    </div>

    <a class="btn btn-light mx-2" href="/catalogo" title="Limpiar filtros">
      <i class="fas fa-broom"></i>
    </a>

    <button type="submit" class="btn btn-light mx-2" title="Aplicar filtros">
      <i class="fas fa-filter"></i>
    </button>

  </div>

</form>

{% if options.search %}
<div class="row text-center">
  <p class="text-muted col-12">
    Se encontraron <strong>{{ products.total() }}</strong> resultados de la búsqueda: <strong>"{{ options.search|e }}"</strong> 
  </p>
</div>
{% endif %}