<form class="mb-4 catalog-filters" action="/catalogo" method="get">
  <div class="form-row">
    <div class="col">
      <input type="text" name="s" class="form-control" value="{{ options.search ? options.search : '' }}">
    </div>
    <div class="col">
      <!--label class="inline">Ordenar por</label-->
      <select name="sort" class="form-control">
        <option value="">Default</option>
        <option value="name" {{ options.sort.by == 'name' ? 'selected': '' }}>Nombre</option>
        <option value="price" {{ options.sort.by == 'price' ? 'selected': '' }}>Precio</option>
      </select>
    </div>

    <div class="col">
      <!--label for="per-page">Articulos por página</label-->
      <select name="pageSize" class="form-control" id="per-page">
        {% for i in 1..options.nPageSize %}
        <option {{ (i*options.step) == (products.perPage()) ? 'selected' : '' }}>{{ i*options.step }}</option>
        {% endfor %}
        <option value="-1" {{ (products.perPage() < 0)? 'selected' : '' }}>Todos</option>
      </select>
    </div>
    <div class="col">
      <div class="btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-light {{ options.sort.order == 'desc' ? 'active' : '' }}">
          <input type="checkbox" name="desc" autocomplete="off">
          <i class="fas fa-sort-amount-down" title="Orden ascendente"></i>
        </label>
      </div>
    </div>

    <div class="col">
      <button type="submit" class="btn btn-light" title="Aplicar filtros">
        <i class="fas fa-filter"></i>
      </button>
    </div>
  </div>
</form>

{% if options.search %}
<div class="row text-center">
  <p class="text-muted">Se encontraron <strong>{{ products.total() }}</strong> de la búsqueda: {{ options.search|e }}</p>
</div>
{% endif %}