<div class="row item-container justify-content-between">
  {% for product in products.items() %}
  <div class="col-sm-6 col-lg-3">
    <div class="card" data-toggle="modal"
      data-target="#productModal"
      data-product-id="{{ product.id_producto }}"
      data-product-name="{{ product.nombre_producto }}"
      data-description="{{ product.descripcion }}"
      data-price="{{ product.precio_venta }}">

      <img class="card-img-top img-fluid" src="data:image/png;base64, {{ product.img_producto }}" />
      <div class="card-body pb-0 text-center">
        <h5 class="card-title">{{ product.nombre_producto|e }}</h5>
      </div>
      <div class="card-footer text-center">
        <p class="card-text price">{{ product.precio_venta|e }}</p>
      </div>
    </div>
  </div>
  {% else %}
  <div class="col-12 text-center my-3 text-muted">
    <i class="far fa-frown-open fa-w-16 fa-3x"></i>
    <span class="d-block mt-1">No hay productos para mostrar</span>
  </div>
  {% endfor %}
</div>
