{% set user={
  'account' : {
    'id': '12345',
    'expire': '1990-02-09',
    'balance': {
      'total': '150',
      'details': [
        {'id': '1', 'total': 100, 'name': 'articulo 1'},
        {'id': '2', 'total': 150, 'name': 'articulo 2'},
        {'id': '3', 'total': 50, 'name': 'articulo 3'},
      ],
    },
  },
} %}

<form>
  <fieldset disabled="disabled">

  <div class="form-row">
    <div class="col-md-5">
      <label for="account-id">Número de cuenta</label>
      <input type="text" class="form-control" id="account-id" value="{{ my.id }}">
    </div>
    <div class="col-md-3">
      <label for="expire">Fecha de corte</label>
      <input type="date" class="form-control" id="expire" value="{{ user.account.expire }}">
    </div>
    <div class="col-md-4">
      <label for="account-balance">Total a pagar</label>
      <input type="text" class="form-control" id="account-balance" value="$ {{ user.account.balance.total }}">
    </div>
  </div>

  </fieldset>
</form>

<div class="form-row mx-1 mb-2 mt-5 justify-content-between">
  <span class="h5">Detalles de la cuenta</span>
  <button class="btn btn-outline-secondary btn-sm" data-toggle="modal" data-target="#payModal">
    <i class="fa fa-credit-card mr-2"></i>Pagar
  </button>
</div>

<div class="form-row table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Cuenta</th>
        <th scope="col">Concepto</th>
        <th scope="col">Adeudo</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for a in user.account.balance.details %}
      <tr>
        <th scope="row">{{ a.id }}</th>
        <td>{{ a.name }}</td>
        <td>$ {{ a.total }}</td>
        <td>
          <div class="btn-group">
            <button class="btn btn-outline-primary btn-sm">
              <i class="fa fa-info-circle"></i>
            </button>
            <button class="btn btn-outline-secondary btn-sm"
              data-toggle="modal" data-target="#payModal">
              <i class="fa fa-credit-card"></i>
            </button>
          </div>
        </td>
      </tr>
      {% else %}
      <tr class="col-12 text-center">
        <td colspan="4">No debe ningún producto</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
