<div class="col-md-6 col-sm-8 col-lg-5 m-auto">
  
  {% if error %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Oops!</strong> {{ error.msg }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endif %}

  <div class="card border-gray mb-3">
    {% if _form.header %}
      <div class="card-header text-center h5">{{ _form.header }}</div>
    {% endif %}
    <div class="card-body text-dark">
    {% if _form.title %}
      <div class="card-title h6">{{ _form.title }}</div>
    {% endif %}
    <form class="form-group" action="{{ _form.action }}" method="{{ _form.method }}">
    {% block form %}{% endblock %}
    </form>
    </div>
  </div>
  
</div>
