{% set user=app.request.user %}
<div class="form-row table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Fecha de Compra</th>
        <th scope="col">Saldo</th>
        <th scope="col">Abonado</th>
        <th scope="col">Adeudo</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for acc in user.account.list %}
      <tr data-account="{{ acc.id_cuenta }}">
        <td>{{ acc.fecha_compra }}</td>
        <td>{{ acc.saldo }}</td>
        <td>{{ acc.abonado }}</td>
        <td>{{ acc.restante }}</td>
        <td>
          <div class="btn-group">
            <a class="btn btn-outline-primary btn-sm" href="/mi-cuenta/detalles/{{ acc.id_cuenta }}">
              <i class="fa fa-info-circle"></i>
            </a>
            <button class="btn btn-outline-secondary btn-sm"
              data-toggle="modal" data-target="#payModal" title="Abonar">
              <i class="fa fa-credit-card"></i>
            </button>
          </div>
        </td>
      </tr>
      {% else %}
      <tr class="col-12 text-center">
        <td colspan="5">No debe ningún artículo</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
